body {
  padding: 0px;
  font: 14px 'Roboto';
  margin: 0px 68px 0px 68px; }

@media print {
  html {
    zoom: 0.62; }
  body {
    -webkit-print-color-adjust: exact; } }

@font-face {
  font-family: 'dejavu-sans';
  src: url("../../assets/fonts/dejavu-fonts-ttf-2.37/ttf/DejaVuSans.ttf"); }

@font-face {
  font-family: 'dejavu-sans-bold';
  src: url("../../assets/fonts/dejavu-fonts-ttf-2.37/ttf/DejaVuSans-Bold.ttf"); }

.customer-header-table {
  width: 100%;
  background-color: #EBECEE;
  border-top: 1px solid black; }

.customer-header-table-customer-name-cell {
  vertical-align: bottom;
  font-size: 29px;
  font-weight: bold;
  padding-bottom: 16px; }

.customer-header-table-vehicle-info-cell {
  vertical-align: top;
  text-align: right; }

.customer-name-header-table {
  margin-left: 5px; }

.vehicle-name-table-header {
  font-size: 21px;
  font-weight: bold;
  margin: 6px 9px 9px 0; }

.license-table-header {
  font-size: 21px;
  margin: 0px 9px 4px 0; }

.customer-and-appointment-table {
  width: 100%; }

.customer-and-vehicle-cell {
  width: 25%;
  max-width: 35%; }

.appointment-vehicle-and-services-cell {
  width: 75%; }

.appointment-vehicle-and-services-table {
  width: 100%; }

.appointment-and-vehicle-table {
  width: 100%; }

.appointment-details-cell {
  width: 75%; }

.vehicle-image-cell {
  width: 25%; }

.services-table {
  width: 85%; }

.service-column {
  width: 85%; }

.cost-column {
  width: 15%; }

td {
  border: 1px solid black; }

/*# sourceMappingURL=estimate-tables.css.map */