/*
 * Normalization
 */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/*
 * Global
 */
body {
  font: 14px 'dejavu-sans';
  margin: 0 36px 0 35px; }

@font-face {
  font-family: 'dejavu-sans';
  src: url("../fonts/dejavu/DejaVuSans.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'dejavu-sans';
  src: url("../fonts/dejavu/DejaVuSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold; }

header {
  padding-bottom: 5px;
  width: 100%;
  overflow: hidden; }

p {
  margin: 0; }

table {
  border-spacing: 0; }

thead {
  background-color: #B8BCC4; }

.img-container {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

/**
 * Header
 */
/**
 * Body
 */
.customer-body {
  margin-bottom: 45px;
  width: 100%;
  overflow: auto; }

.customer-info-container {
  display: block;
  float: left;
  font-size: 13px;
  padding-top: 9px;
  width: 22%; }
  .customer-info-container p {
    margin-bottom: 1px; }
  .customer-info-container .vehicle-info p {
    margin: 0; }
  .customer-info-container .email {
    margin: 10px 0 10px 0;
    overflow-wrap: break-word;
    font-size: 12px; }

.appointment-info-container {
  float: left;
  padding-left: 15px;
  width: 78%;
  position: relative; }
  .appointment-info-container .vehicle-img-container {
    width: 200px;
    height: 120px;
    float: right; }

.details-container {
  display: inline-block;
  width: calc(100% - 200px); }
  .details-container .date {
    margin-bottom: 5px;
    font-weight: bold; }
  .details-container .advisor,
  .details-container .transportation,
  .details-container .promised-date,
  .details-container .promised-time {
    margin-left: 10px;
    font-weight: bold; }

.services-container {
  float: left; }
  .services-container h3 {
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 14px; }

.services-table {
  width: 85%;
  max-width: 700px; }
  .services-table th, .services-table td {
    padding: 4px 6px 4px 4px; }
  .services-table .left-column {
    width: 80%;
    text-align: left; }
  .services-table .right-column {
    width: 10%;
    text-align: right; }
  .services-table td {
    font-weight: normal; }

.disclaimer-and-signature-table {
  border: 1px solid black;
  width: 100%;
  height: 290px; }
  .disclaimer-and-signature-table .bottom {
    vertical-align: bottom;
    padding: 0 12px 0 0; }
  .disclaimer-and-signature-table .disclaimer {
    margin: 10px 0 0 7px;
    font-size: 6px;
    vertical-align: top;
    text-align: justify;
    padding: 10px 6px 4px 6px; }

.signature-table {
  width: 100%; }
  .signature-table .left {
    width: 40%;
    font-size: 13px;
    padding: 0 0 0 5px; }
  .signature-table .middle {
    width: 40%;
    text-align: right;
    vertical-align: middle;
    font-size: 16px;
    padding-right: 10px; }
  .signature-table .right {
    width: 20%;
    text-align: center; }
  .signature-table .pages {
    text-align: right;
    padding-top: 10px;
    font-size: 13px; }
  .signature-table .signature-image-container {
    border: 1px solid black;
    padding: 0;
    margin-right: 5px; }
    .signature-table .signature-image-container .signature-image {
      max-width: 280px;
      margin: 0;
      text-align: center; }
    .signature-table .signature-image-container .signed-total {
      text-align: left;
      font-size: 16px;
      margin-left: 10px; }

.exterior-body {
  display: block;
  float: left;
  margin-top: 10px;
  width: 100%; }
  .exterior-body .title-bar {
    background-color: #000000;
    color: white;
    font-size: 10pt;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 100%; }
  .exterior-body .images-container {
    display: block;
    width: 100%; }
    .exterior-body .images-container .exterior-images {
      width: 45%;
      height: 120px;
      float: left;
      margin: 2%; }

.written-estimate-consent {
  border: 1px solid black;
  height: 290px;
  margin-bottom: 5px;
  width: 100%; }
  .written-estimate-consent .item {
    font-size: 8pt;
    text-align: left;
    vertical-align: top; }
    .written-estimate-consent .item .checkbox {
      display: inline-block;
      width: 30px;
      height: 30px;
      float: left;
      margin: 0 10px; }
    .written-estimate-consent .item .text {
      font-weight: bold;
      padding-top: 8px;
      width: 100%; }
  .written-estimate-consent .bottom {
    vertical-align: bottom;
    padding: 0 12px 12px 0; }
  .written-estimate-consent .title {
    font-weight: bold;
    padding: 25px; }

.avoid-break {
  page-break-inside: avoid !important; }

@media print {
  html {
    zoom: 0.62; }
  body {
    -webkit-print-color-adjust: exact; } }

/*# sourceMappingURL=estimate.css.map */