/* Base styles (apply to each index page) */
body {
  font: 100% Roboto, Helvetica, Verdana, sans-serif;
  padding: 25px; }

#page-header {
  border-bottom: 1px solid #000000; }

.btn {
  background-color: #00BFFF;
  color: #FFFFFF;
  border-radius: 6px;
  padding: 10px; }

/* Main Landing Page Styles */
#main section {
  background-color: #D2D2D2;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  width: 40%; }
  #main section h3 {
    margin-top: 5px; }
  #main section p {
    font-size: 18px;
    margin-bottom: 10px; }
    #main section p a {
      outline: none; }
      #main section p a:hover {
        color: #CC0000; }

/* Estimate Landing Page Styles */
.row {
  display: flex; }

.column {
  flex: 50%;
  padding-left: 10px; }
  .column h2 {
    margin-bottom: 0; }
  .column .title {
    margin: 0 0 20px 0; }
  .column section {
    border-top: 3px dotted #000000;
    margin-top: 10px; }

/*# sourceMappingURL=index.css.map */