body {
  font-family: Roboto;
  margin: 0 50px 0 52px; }

table {
  border-spacing: 0; }

img {
  display: block; }

.inspection-table td {
  padding: 0;
  vertical-align: top; }

.images-table {
  margin-top: 1px;
  width: 100%; }
  .images-table .with-border {
    border: 1px solid lightgray; }
  .images-table .image-row .outer-cell {
    width: 50%;
    vertical-align: top;
    text-align: center; }
    .images-table .image-row .outer-cell .legend-container {
      width: 200px;
      height: 170px;
      margin: 8px 0px 8px 0px;
      display: inline-block; }
      .images-table .image-row .outer-cell .legend-container .legend-cell {
        text-align: center; }
        .images-table .image-row .outer-cell .legend-container .legend-cell .legend {
          height: 168px;
          display: inline-block; }
  .images-table .inner-table {
    display: inline-block;
    width: 200px;
    height: 170px;
    margin: 8px 0px 8px 0px; }
    .images-table .inner-table .image-header {
      background-color: #EFEFEF;
      border-bottom: 1px solid lightgray;
      font-size: 7.5pt;
      padding: 0px 0 0px 5px;
      text-align: left;
      vertical-align: center;
      height: 20px; }
      .images-table .inner-table .image-header p {
        margin: 0; }
    .images-table .inner-table .scratches-image {
      width: 197px;
      margin: 1px 1px 70px 1px; }
    .images-table .inner-table .inner-image {
      height: 147px;
      display: inline-block; }
    .images-table .inner-table tr, .images-table .inner-table td {
      width: 200px; }
    .images-table .inner-table .image-cell {
      text-align: center; }

@media print {
  .zoom {
    zoom: 0.72; }
  body {
    -webkit-print-color-adjust: exact; } }

/*# sourceMappingURL=inspection-nissan-infiniti.css.map */