/*
 * Global
 */
body {
  padding: 0px 22px 22px 22px;
  font: 16px 'dejavu-sans'; }

@font-face {
  font-family: 'dejavu-sans';
  src: url("../fonts/dejavu/DejaVuSans.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'dejavu-sans';
  src: url("../fonts/dejavu/DejaVuSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold; }

@font-face {
  font-family: 'dejavu-sans';
  src: url("../fonts/dejavu/DejaVuSans-Oblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

table {
  border-spacing: 0; }

hr {
  width: 33%;
  border-top: 1px solid black;
  border-right: 0px solid black;
  border-bottom: 0px solid black;
  border-left: 0px solid black; }

@media print {
  .zoom {
    zoom: 0.72; }
  body {
    -webkit-print-color-adjust: exact; } }

.avoid-break {
  page-break-inside: avoid !important; }

/**
 * Body
 */
.inspection-body {
  width: 100%;
  margin-top: 100px; }
  .inspection-body .inspection-table {
    width: 100%;
    max-width: 100%; }
    .inspection-body .inspection-table .col1, .inspection-body .inspection-table .col2, .inspection-body .inspection-table .col3 {
      width: 3%; }
    .inspection-body .inspection-table .col4 {
      width: 47%; }
    .inspection-body .inspection-table .col5 {
      width: 13%; }
    .inspection-body .inspection-table .col6 {
      width: 20%; }
    .inspection-body .inspection-table .col7 {
      width: 11%; }
    .inspection-body .inspection-table .headers {
      font-size: 11px;
      width: 100%; }
      .inspection-body .inspection-table .headers .grade {
        padding: 0 0 0 0;
        font-size: 8px;
        font-weight: normal; }
      .inspection-body .inspection-table .headers .grey {
        background-color: lightgray;
        padding: 0 0 0 0; }
    .inspection-body .inspection-table .standard {
      background-color: #FFFFFF; }
    .inspection-body .inspection-table .alternate {
      background-color: #F5F5F5; }
    .inspection-body .inspection-table .conditions {
      text-align: center;
      padding-right: 4px;
      padding-left: 4px; }
    .inspection-body .inspection-table .comment-text {
      font-style: italic;
      text-align: center; }
    .inspection-body .inspection-table .dot {
      vertical-align: top;
      text-align: center; }
    .inspection-body .inspection-table .good {
      background-color: #82c686; }
    .inspection-body .inspection-table .dot-white {
      height: 6px;
      width: 6px;
      background-color: #FFFFFF;
      border-radius: 50%;
      display: inline-block; }
    .inspection-body .inspection-table .dot-black {
      height: 6px;
      width: 6px;
      background-color: #000000;
      border-radius: 50%;
      display: inline-block; }
    .inspection-body .inspection-table .fair {
      background-color: #feeca6; }
    .inspection-body .inspection-table .poor {
      background-color: #cf5456; }
    .inspection-body .inspection-table .inspection-container {
      padding-bottom: 5px;
      font-size: 10px; }
      .inspection-body .inspection-table .inspection-container .subcategory-title {
        margin: 8px 0 8px 8px; }
      .inspection-body .inspection-table .inspection-container .service-item-table {
        margin-left: 8px; }
        .inspection-body .inspection-table .inspection-container .service-item-table .box-cell {
          padding-top: 5px;
          text-align: left;
          vertical-align: top;
          width: 14px; }
          .inspection-body .inspection-table .inspection-container .service-item-table .box-cell .box {
            height: 10px;
            width: 10px;
            background-color: #FFFFFF;
            display: inline-block;
            border: 1px solid black;
            margin-right: 5px; }
        .inspection-body .inspection-table .inspection-container .service-item-table .inspection-item {
          padding-top: 5px;
          text-align: left;
          vertical-align: center; }
    .inspection-body .inspection-table .standard-cell {
      background-color: #EFEFEF; }
    .inspection-body .inspection-table .alternate-cell {
      background-color: #E8E8E8; }
    .inspection-body .inspection-table .conditions-text, .inspection-body .inspection-table .comment-text {
      font-size: 12px;
      text-align: center; }
    .inspection-body .inspection-table .action-cell {
      vertical-align: top;
      text-align: center;
      padding-top: 5px; }
      .inspection-body .inspection-table .action-cell .action-table {
        width: 90px;
        margin: 0 auto 0 auto; }
        .inspection-body .inspection-table .action-cell .action-table .action-text {
          font-size: 8px;
          text-align: center;
          padding: 0 2px 0 2px;
          font-weight: normal; }
        .inspection-body .inspection-table .action-cell .action-table .action-dot {
          text-align: center;
          padding: 0 0 0 0; }
  .inspection-body .signature-section {
    margin-top: 50px;
    background-color: #D3D3D3;
    width: 100%;
    padding-bottom: 20px;
    font-size: 11px; }
    .inspection-body .signature-section .signature-section2 {
      padding-left: 40px; }
      .inspection-body .signature-section .signature-section2 .reviewed-by {
        padding: 6px 0px 2px 0px; }
      .inspection-body .signature-section .signature-section2 .signature-box {
        border: 1px solid black;
        background-color: white;
        width: 380px;
        height: 55px;
        text-align: center;
        padding: 1px 1px 1px 1px;
        margin-top: 0px; }
        .inspection-body .signature-section .signature-section2 .signature-box .signature-image {
          max-height: 100%;
          margin: 0 0 0 0; }
      .inspection-body .signature-section .signature-section2 .customer-signature {
        margin-top: 3px; }
      .inspection-body .signature-section .signature-section2 .date-container {
        display: table;
        margin-top: 8px; }
        .inspection-body .signature-section .signature-section2 .date-container .signature-date {
          background-color: #FFFFFF;
          display: table-cell;
          vertical-align: middle;
          padding-left: 8px;
          border: 1px solid black;
          width: 200px;
          height: 30px; }
  .inspection-body .walkaround-table {
    width: 280px;
    height: 280px;
    border: 1px solid #D3D3D3;
    margin: 14px 0 0 40px; }
    .inspection-body .walkaround-table .walkaround-header {
      padding-left: 8px;
      height: 35px;
      background-color: #EFEFEF;
      border-bottom: 1px solid #D3D3D3;
      font-size: 12px; }
    .inspection-body .walkaround-table .walkaround-image-cell {
      vertical-align: top; }
      .inspection-body .walkaround-table .walkaround-image-cell .walkaround-image {
        max-width: 100%; }

/*# sourceMappingURL=inspection.css.map */